<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Feeds>
            <version>0.1.1</version>
        </Aligent_Feeds>
    </modules>
    <global>
        <models>
            <aligent_feeds>
                <class>Aligent_Feeds_Model</class>
            </aligent_feeds>
        </models>
        <resources>
            <aligent_feeds_setup>
                <setup>
                    <module>Aligent_Feeds</module>
                </setup>
            </aligent_feeds_setup>
        </resources>
        <helpers>
            <aligent_feeds>
                <class>Aligent_Feeds_Helper</class>
            </aligent_feeds>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <export_feeds>
                <schedule>
                    <cron_expr>30 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aligent_feeds/cron::exportFeeds</model>
                </run>
            </export_feeds>
        </jobs>
    </crontab>
    <default>
        <feeds>
            <googleshopping>
                <condition>1</condition>
            </googleshopping>
        </feeds>
    </default>
    <feeds>
        <googleshopping>
            <fields>
                <identifier>
                    <header>ident</header>
                    <attribute>sku</attribute>
                    <value>-</value>
                    <special>store_id</special>
                </identifier>
                <title>
                    <attribute>name</attribute>
                </title>
                <description>
                    <attribute>short_description</attribute>
                </description>
                <gshopping_category>
                    <header>google product category</header>
                    <attribute>gshopping_category</attribute>
                </gshopping_category>
                <product_type>
                    <header>product type</header>
                    <singleton>
                        <class>aligent_feeds/translator_category</class>
                        <method>translate</method>
                        <field>category_id</field>
                    </singleton>
                </product_type>
                <url>
                    <header>link</header>
                    <special>base_url</special>
                    <attribute>url_path</attribute>
                </url>
                <image>
                    <header>image link</header>
                    <special>media_base_url</special>
                    <attribute>small_image</attribute>
                </image>
                <gshopping_condition>
                    <header>condition</header>
                    <singleton>
                        <class>aligent_feeds/translator_condition</class>
                        <method>translate</method>
                        <field>gshopping_condition</field>
                    </singleton>
                </gshopping_condition>
                <availability></availability>
                <price>
                    <attribute>price</attribute>
                </price>
                <special_price>
                    <header>sale price</header>
                    <attribute>special_price</attribute>
                </special_price>
                <special_price_date>
                    <header>sale price effective date</header>
                    <singleton>
                        <class>aligent_feeds/translator_pricestartend</class>
                        <method>translate</method>
                    </singleton>
                </special_price_date>
                <sku>
                    <header>mpn</header>
                    <attribute>sku</attribute>
                </sku>
            </fields>
            <output>
                <text>
                    <format>csv</format>
                    <delimiter>\t</delimiter>
                    <enclosure>"</enclosure>
                </text>
                <xml>
                    <format>xml</format>
                </xml>
            </output>
        </googleshopping>
    </feeds>
</config>