<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Feeds>
            <version>0.1.1</version>
        </Aligent_Feeds>
    </modules>
    <global>
        <models>
            <aligent_feeds>
                <class>Aligent_Feeds_Model</class>
            </aligent_feeds>
        </models>
        <resources>
            <aligent_feeds_setup>
                <setup>
                    <module>Aligent_Feeds</module>
                </setup>
            </aligent_feeds_setup>
        </resources>
        <helpers>
            <aligent_feeds>
                <class>Aligent_Feeds_Helper</class>
            </aligent_feeds>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <export_google_shopping>
                <schedule>
                    <cron_expr>30 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aligent_feeds/cron::exportGoogleShopping</model>
                </run>
            </export_google_shopping>
        </jobs>
    </crontab>
    <default>
        <google>
            <shopping>
                <enable>0</enable>
                <condition>1</condition>
            </shopping>
        </google>
    </default>
    <stores>
        <default>
            <google>
                <shopping>
                    <enable>1</enable>
                </shopping>
            </google>
        </default>
    </stores>
</config>