<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Feeds>
            <version>0.1.1</version>
        </Aligent_Feeds>
    </modules>
    <global>
        <models>
            <aligent_feeds>
                <class>Aligent_Feeds_Model</class>
            </aligent_feeds>
        </models>
        <resources>
            <aligent_feeds_setup>
                <setup>
                    <module>Aligent_Feeds</module>
                </setup>
            </aligent_feeds_setup>
        </resources>
        <helpers>
            <aligent_feeds>
                <class>Aligent_Feeds_Helper</class>
            </aligent_feeds>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <export_feeds>
                <schedule>
                    <cron_expr>30 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>aligent_feeds/cron::exportFeeds</model>
                </run>
            </export_feeds>
        </jobs>
    </crontab>
    <default>
        <feeds>
            <general>
                <reindex>0</reindex>
                <ftp>0</ftp>
            </general>
            <googleshopping>
                <condition>1</condition>
            </googleshopping>
            <enable>
                <googleshopping>1</googleshopping>
            </enable>
        </feeds>
    </default>
    <feeds>
        <googleshopping>
            <fields>
                <id>
                    <xml_tag>g:id</xml_tag>
                    <attribute>sku</attribute>
                    <value>-</value>
                    <special>store_id</special>
                </id>

                <title>
                    <attribute>name</attribute>
                </title>

                <description>
                    <attribute>short_description</attribute>
                </description>

                <gshopping_category>
                    <header>google product category</header>
                    <xml_tag>g:google_product_category</xml_tag>
                    <attribute>gshopping_category</attribute>
                </gshopping_category>


            </fields>
            <output>
                <text>
                    <format>csv</format>
                    <delimiter>\t</delimiter>
                    <enclosure>"</enclosure>
                </text>
            </output>
        </googleshopping>
    </feeds>
</config>